﻿footer {
    text-align: center;
    color: #999;
}

.footer {
    padding: 20px 0 5px;
}

 footer.footer,
 footer.footer.open {
        transition: 0.5s all;
 }

 footer.footer.with-aside.open {
     margin-left: 230px;
}